{% extends "base.html" %}
{% load static %}

{% block java_script %}
<script src="{% get_static_prefix %}js/updates.js"></script>
{% endblock %}

{% block extra_style %}
<link href="{% get_static_prefix %}css/updates.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="loading_modal">
  <div class="text-center" style="padding-top:10px;">
      <img class="loading" src="{% get_static_prefix %}images/loading.png" width="50" id="imgProgress" />

  </div>
</div>
<div id="data">
	<script>getdata();</script>
</div>


<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p id="modal_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="newbranch" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">new Branch</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="branch-name" placeholder="Name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="newbranch($('#branch-name').val());" data-dismiss="modal">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}